# Flask secret key
SECRET_KEY=default-secret-key

# MySQL database username (if applicable)
MYSQL_USER=flaskuser

# MySQL database password (if applicable)
MYSQL_PASSWORD=flaskpassword

# MySQL Host (Use 'db' when running with Docker Compose, 'localhost' for local testing using sqlite
MYSQL_HOST=host

# MySQL database name
MYSQL_DATABASE=iot_project

# MySQL root password
MYSQL_ROOT_PASSWORD=root

# Flask host port (only change if there is a port conflict issue)
FLASK_HOST_PORT=5000