# ----- WEB APP -----

# Flask secret key
SECRET_KEY=

# (if set) takes priority over all DB_* options (If running through
# Docker, ensure URL resolves to an IPv4 address.)
# If not set, fill out the rest of the options
DATABASE_URL=

# Accepted: sqlite, mysql, or postgresql.
DB_ENGINE=sqlite

# SQLite mode (if applicable)
# Path to store the SQLite db
# If empty, app defaults to a temporary directory
SQLITE_PATH=./app/data.sqlite3

# Shared DB credentials for MySQL/PostgreSQL modes
# Not needed if DATABASE_URL is set
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# Optional: only used by docker-compose MySQL service setup
MYSQL_ROOT_PASSWORD=root

# Flask host port (only change if there is a port conflict issue)
FLASK_HOST_PORT=5000

# ----- ALARM DEVICE -----

# Whether to run the script on debug mode
# True -> Does not require Pi components, runs exclusively in the terminal
# False (Recommended) -> Utilises Pi components, main outputs on display etc
DEVICE_DEBUG_MODE=True

# The base URL of the web server to connect to
BASE_URL=

# SSL Certificate file path required for HTTPS
# More than likely not needed (unless hosting on a private server)
REQUESTS_CA_BUNDLE=

# Serial number of the device
SERIAL_NUMBER=

