# --- WEB APP ---

# Flask secret key
SECRET_KEY=default-secret-key

# If using Docker (which it is in production), enter 'False'
# If using Development Mode (Sqlite using plain Python), enter 'True'
# All attributes below will be ignored if using Developement Mode
DEVELOPMENT_MODE=False

# MySQL database username
MYSQL_USER=flaskuser

# MySQL database password
MYSQL_PASSWORD=flaskpassword

# MySQL Host (Use 'localhost' when in Development Mode, otherwise use 'db')
MYSQL_HOST=db

# MySQL database name
MYSQL_DATABASE=iot_project

# MySQL root password
MYSQL_ROOT_PASSWORD=root

# Flask host port (only change if there is a port conflict issue)
FLASK_HOST_PORT=5000

# --- ALARM DEVICE ---

# Whether to run the script on debug mode
# True -> Does not require Pi components, runs exclusively in the terminal
# False (Recommended) -> Utilises Pi components, main outputs on display etc
DEVICE_DEBUG_MODE=True

# The base URL of the web server to connect to
BASE_URL="https://smart-alarm-smartalarmweb.apps.containers.cs.cf.ac.uk"

# SSL Certificate required for HTTPS
# More than likely not needed (unless hosting on a private server)
# In which case, remove
REQUESTS_CA_BUNDLE="folder/file"