# Whether to run the script on debug mode
# True -> Does not require Pi components, runs exclusively in the terminal
# False (Recommended) -> Utilises Pi components, main outputs on display etc
DEVICE_DEBUG_MODE=True

# The base URL of the web server to connect to
BASE_URL=

# SSL Certificate file path required for HTTPS
# More than likely not needed (unless hosting on a private server)
REQUESTS_CA_BUNDLE=

# Serial number of the device
SERIAL_NUMBER=

# Timezone of device (empty=default device timezone)
DEVICE_TIMEZONE=