<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="../static/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../static/files/home/styles.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"/>
    <script src="../static/scripts/jquery-3.7.1.min.js"></script>  <!--Necessary-->
    <script src="../static/scripts/axure/axQuery.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axutils.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/annotation.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/axQuery.std.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/doc.js"></script> <!-- Necessary -->
    <script src="../static/scripts/messagecenter.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/events.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/recording.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/action.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/expr.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/geometry.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/flyout.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/model.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/repeater.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/sto.js"></script> <!-- Necessary -->
    <script src="../static/scripts/axure/utils.temp.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/variables.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/drag.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/visibility.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/style.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/adaptive.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/init.temp.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/legacy.js"></script> <!--Necessary-->
    <script src="../static/scripts/axure/jquery.nicescroll.min.js"></script> <!--Necessary-->
    <script src="../static/data/document.js"></script> <!--Necessary-->
    <script src="../static/files/home/data.js"></script> <!--Necessary-->
    <!--removed maths-->
    <!--removed move-->
    <!--removed tree-->
    <!--removed viewer-->
    <!--removed transparent gif-->
    <script type="text/javascript">
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u0" class="ax_default box_1 transition notrs">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u1" class="ax_default placeholder transition notrs">
        <svg data="images/home/u1.svg" id="u1_img" class="img generatedImage">

  <defs>
    <pattern id="u1_img_bgp" patternUnits="userSpaceOnUse" alignment="0 0" imageRepeat="None" />
    <mask fill="white" id="u1_img_cl1">
      <path d="M 0 50  L 0 0  L 50 0  L 50 50  L 0 50  Z " fill-rule="evenodd" />
    </mask>
  </defs>
  <g transform="matrix(1 0 0 1 -1870 0 )">
    <path d="M 0 50  L 0 0  L 50 0  L 50 50  L 0 50  Z " fill-rule="nonzero" fill="rgba(242, 242, 242, 1)" stroke="none" transform="matrix(1 0 0 1 1870 0 )" class="fill" />
    <path d="M 0 50  L 0 0  L 50 0  L 50 50  L 0 50  Z " stroke-width="6" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 1870 0 )" class="stroke" mask="url(#u1_img_cl1)" />
    <path d="M 48.93933982822018 1.0606601717798212  L 1.0606601717798212 48.93933982822018  M 1.0606601717798212 1.0606601717798212  L 48.93933982822018 48.93933982822018  " stroke-width="3" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 1870 0 )" class="stroke" />
  </g>
        </svg>
        <div id="u1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2" class="ax_default heading_1 transition notrs">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text ">
          <p><span>SmartAlarm™</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u3" class="ax_default heading_1 transition notrs">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text ">
          <p><span>Welcome to SmartAlarm™!</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4" class="ax_default box_1 transition notrs">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <p><span>Log in below now and pair your SmartAlarm™ device to start beginning your mornings in a better way.</span></p>
        </div>
      </div>

      <!-- Unnamed (Connector) -->
      <div id="u5" class="ax_default connector">
        <img id="u5_seg0" class="img " src="../static/images/home/u5_seg0.svg" alt="u5_seg0"/>
        <div id="u5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6" class="ax_default box_1 transition notrs">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Text field) -->
      <div id="u7" class="ax_default text_field transition notrs">
        <div id="u7_div" class=""></div>
        <input id="u7_input" type="text" value="" class="u7_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u8" class="ax_default label transition notrs">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text ">
          <p><span>Email Address:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default label transition notrs">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>Password:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default button transition notrs">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text ">
          <p><span>LOG IN</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u11" class="ax_default placeholder transition notrs">
        <svg data="images/home/u11.svg" id="u11_img" class="img generatedImage">

  <defs>
    <pattern id="u11_img_bgp" patternUnits="userSpaceOnUse" alignment="0 0" imageRepeat="None" />
    <mask fill="white" id="u11_img_cl2">
      <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " fill-rule="evenodd" />
    </mask>
  </defs>
  <g transform="matrix(1 0 0 1 -112 -1222 )">
    <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " fill-rule="nonzero" fill="rgba(242, 242, 242, 1)" stroke="none" transform="matrix(1 0 0 1 112 1222 )" class="fill" />
    <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " stroke-width="6" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 112 1222 )" class="stroke" mask="url(#u11_img_cl2)" />
    <path d="M 478.93933982822017 1.0606601717798212  L 1.0606601717798212 478.93933982822017  M 1.0606601717798212 1.0606601717798212  L 478.93933982822017 478.93933982822017  " stroke-width="3" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 112 1222 )" class="stroke" />
  </g>
        </svg>
        <div id="u11_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u12" class="ax_default placeholder transition notrs">
        <svg data="images/home/u12.svg" id="u12_img" class="img generatedImage">

  <defs>
    <pattern id="u12_img_bgp" patternUnits="userSpaceOnUse" alignment="0 0" imageRepeat="None" />
    <mask fill="white" id="u12_img_cl3">
      <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " fill-rule="evenodd" />
    </mask>
  </defs>
  <g transform="matrix(1 0 0 1 -720 -1222 )">
    <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " fill-rule="nonzero" fill="rgba(242, 242, 242, 1)" stroke="none" transform="matrix(1 0 0 1 720 1222 )" class="fill" />
    <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " stroke-width="6" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 720 1222 )" class="stroke" mask="url(#u12_img_cl3)" />
    <path d="M 478.93933982822017 1.0606601717798212  L 1.0606601717798212 478.93933982822017  M 1.0606601717798212 1.0606601717798212  L 478.93933982822017 478.93933982822017  " stroke-width="3" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 720 1222 )" class="stroke" />
  </g>
        </svg>
        <div id="u12_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u13" class="ax_default placeholder transition notrs">
        <svg data="images/home/u13.svg" id="u13_img" class="img generatedImage">

  <defs>
    <pattern id="u13_img_bgp" patternUnits="userSpaceOnUse" alignment="0 0" imageRepeat="None" />
    <mask fill="white" id="u13_img_cl4">
      <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " fill-rule="evenodd" />
    </mask>
  </defs>
  <g transform="matrix(1 0 0 1 -1328 -1222 )">
    <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " fill-rule="nonzero" fill="rgba(242, 242, 242, 1)" stroke="none" transform="matrix(1 0 0 1 1328 1222 )" class="fill" />
    <path d="M 0 480  L 0 0  L 480 0  L 480 480  L 0 480  Z " stroke-width="6" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 1328 1222 )" class="stroke" mask="url(#u13_img_cl4)" />
    <path d="M 478.93933982822017 1.0606601717798212  L 1.0606601717798212 478.93933982822017  M 1.0606601717798212 1.0606601717798212  L 478.93933982822017 478.93933982822017  " stroke-width="3" stroke-dasharray="0" stroke="rgba(121, 121, 121, 1)" fill="none" transform="matrix(1 0 0 1 1328 1222 )" class="stroke" />
  </g>
        </svg>
        <div id="u13_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14" class="ax_default heading_1 transition notrs">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text ">
          <p><span>Wake up with no worry!</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default heading_1 transition notrs">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
          <p><span>Engaging brainteasers!</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16" class="ax_default heading_1 transition notrs">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span>Start your day prepared!</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u17" class="ax_default box_1 transition notrs">
        <div id="u17_div" class=""></div>
        <div id="u17_text" class="text ">
          <p><span>Contact Us:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u18" class="ax_default box_1 transition notrs">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>Email: emailaddress@email.com</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u19" class="ax_default box_1 transition notrs">
        <div id="u19_div" class=""></div>
        <div id="u19_text" class="text ">
          <p><span>Phone: 00000 000 000</span></p>
        </div>
      </div>

      <!-- Unnamed (Dynamic panel) -->
      <div id="u20" class="ax_default">
        <div id="u20_state0" class="panel_state" data-label="State 1" style="">
          <div id="u20_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u21" class="ax_default box_1 transition notrs">
              <div id="u21_div" class=""></div>
              <div id="u21_text" class="text ">
                <p><span>Log In</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u20_state1" class="panel_state" data-label="State 2" style="visibility: hidden;">
          <div id="u20_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u22" class="ax_default box_1 transition notrs">
              <div id="u22_div" class=""></div>
              <div id="u22_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u23" class="ax_default box_1 transition notrs">
              <div id="u23_div" class=""></div>
              <div id="u23_text" class="text ">
                <p><span>Manage Account</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u24" class="ax_default box_1 transition notrs">
              <div id="u24_div" class=""></div>
              <div id="u24_text" class="text ">
                <p><span>Contact Us</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u25" class="ax_default box_1 transition notrs">
              <div id="u25_div" class=""></div>
              <div id="u25_text" class="text ">
                <p><span>Log Out</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u26" class="ax_default box_1 transition notrs">
              <div id="u26_div" class=""></div>
              <div id="u26_text" class="text ">
                <p><span>Manage Device</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Text field) -->
      <div id="u27" class="ax_default text_field transition notrs">
        <div id="u27_div" class=""></div>
        <input id="u27_input" type="password" value="" class="u27_input"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u28" class="ax_default box_1 transition notrs">
        <svg data="images/home/u28.svg" id="u28_img" class="img generatedImage">

  <g transform="matrix(1 0 0 1 -483 -2401 )">
    <path d="M 0 0.5  L 881 0.5  " stroke-width="1" stroke-dasharray="0" stroke="rgba(121, 121, 121, 0)" fill="none" transform="matrix(1 0 0 1 483 2401 )" class="stroke" />
  </g>
        </svg>
        <div id="u28_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="../static/scripts/axure/ios.js"></script>
  </body>
</html>
